/*ホバーテンプレート*/
.parent {
  transition: transform 0.3s ease;
}

.parent:hover .scale-hover {
  transform: scale(1.2);
}

.scale-hover {
  transition: transform 0.3s ease;
}
.scale-hover:hover {
  transform: scale(1.2);
}

.scale-hover-x {
  transition: transform 0.3s ease;
}
.scale-hover-x:hover {
  transform: scalex(1.3);
}

.scale-hover-baw {
  transition: 0.3s ease;
  filter: grayscale(100%);
}
.scale-hover-baw:hover {
  transform: scale(1.3);
  filter: grayscale(0%);
}

.box-shadow-hover {
  transition: 0.3s ease;
}
.box-shadow-hover:hover {
  box-shadow:
    0 0 10px #427d9d,
    0 0 20px #427d9da0,
    0 0 30px #427d9d50;

  transform: scale(1.05);
}

.unibtn-hover {
  transition: 0.3s;
}

.unibtn-hover:hover {
  transform: scale(1.05);
  background: #427d9d;
  color: #fff;
  box-shadow:
    0 0 10px #427d9d,
    0 0 20px #427d9da0,
    0 0 30px #427d9d50;
}
