.triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #000000;
}
.triangle-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #000000 transparent transparent;
}
.black-border {
  position: relative;
  top: 50%;
  border-top: #000000 3px solid;
  width: 100%;
}
.black-circle {
  background-color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.login-face {
  background-color: #164863;
  height: 45px;
  width: 45px;
  border-radius: 50px 50px;
}

.login-body {
  background-color: #164863;
  height: 35px;
  width: 90px;
  border-radius: 50% 50% 0 0;
}
.border-triangle {
  position: absolute;
  width: 0;
  height: 0;
}

.MenuBoxShadow {
  box-shadow: 5px 5px 5px 5px #00000057;
}
